* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
}
.contenedor{
    width: 360px;
    height: 1702px;
}
footer {
  width: 360px;
  height: 48px;
  border: solid 1px;
}
.logo1 {
  background-image: url(./ArchivosEjercicioPortafolio/twitter.svg);
  background-color: skyblue;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 15px;
}
